@import "../constants";

.notes {
    display: flex;
    flex-direction: column;

    button {
        color: $color-primary-4;
        background-color: $color-primary-2;
    }
    button.delete {
        background-color: #cc0000;
        color: #fff;
        border-color: #e14848;
    }
    button:focus, button:hover {
        border-color: $color-primary-4;
        color: $color-primary-3;

        &:disabled {
            color: $color-primary-0;
        }
    }

    .body {
        display: flex;
        flex-direction: row;
        height: 100%;

        .folders-list, .notes-list {
            flex: 0 0 200px;
        }
        .entry-form {
            flex: 1;
        }        
    }
    .entry-form {
        display: flex;
        flex-direction: column;
        height: 100%;
        // padding: 1em;
        > * {
            margin: 1em 1em 0 1em;
        }
        ::placeholder {
            color: $color-primary-0;
        }

        input {
            flex: 0 0 2em;
        }
        textarea {
            flex: 1; 
        }
        div {
            display: flex;
            flex: 0 0 4em;
            justify-content: space-evenly;
            align-items: center;
        }
    }

    .header {
        display: flex;
        flex-direction: row;
        background-color: #ccccd7;
        padding: 0.5em;
        justify-content: space-between;

        .search-icon {
            display: inline-block;
            background-color: $color-primary-4;
            padding: .5em;
            line-height: 1em;
            border-color: transparent;
            border-radius: 1.5em;
            cursor: pointer;
            height: 2rem;
        }
    
        input {
            height: 1rem;
            line-height: 1em;
            background-color: transparent;
            border-radius: 0;
            border-bottom: 1px solid $color-primary-0;

            ::placeholder { color: $color-primary-0; }
        }
        button {
            color: $color-primary-1;
            background-color: $color-primary-4;
        }
    }

    .folders-list, .notes-list {
        display: inline-block;
        height: 100%;
        overflow-y: auto;
        color: #555;
    }
    .folders-list {
        background-image: linear-gradient(to bottom, $color-primary-2, darken($color-primary-2, 10%));
    
        li {
            border-bottom: 1px solid $color-secondary-2-0;
    
            &.selected {
                background-color: $color-secondary-1-4;
                color: $color-primary-1;
            }
        }
    }

    .notes-list {
        background-image: linear-gradient(to bottom, lighten($color-primary-2, 4%), darken($color-primary-2, 4%));
        // background-color: lighten($color-primary-2, 4%);
        height: 100%;

        li {
            border-bottom: 1px solid $color-primary-2;
        
        }

        .name {
            font-weight: lighter;
        }
        .meta {
            color: $color-primary-0;
            text-transform: uppercase;
            font-size: 0.75em;
        }
        .selected {
            background-color: $color-primary-4;
            color: $color-primary-2;

            .meta {
                color: $color-secondary-2-0;
            }
        }
    }

    .dialog {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6);

        .box {
            padding: 1em 3em;
            background-color: $color-primary-1;
            border-radius: 1em;
            border: .1em solid $color-primary-0;
            max-width: 50%;
        }
        button {
            margin: 0 .5em;
        }
        h1, p {
            text-align: center;
            color: $color-primary-4;
        }

        h1 {
            font-size: 2em;
            font-weight: 400;
        }
    }
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;

    > * {
        width: 80%;
        // flex: 1;
    }
    h1 {
        flex: 0 0 1em;
    }
    input { 
        flex: 0 0 3em;
    }
    .table {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;

        .header {
            flex: 0 0 2em;
        }

        .body {
            overflow: auto;

            &.empty {
                flex: 1;
                flex-direction: column;
                display: flex;
                justify-content: space-around;
                align-content: center;
            }
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        padding: 1em 0;
        border-bottom: 1px solid $color-primary-2;
        cursor: pointer;

        &:hover {
            background-color: $color-primary-2;
        }
        &.header {
            padding: .5em 0;
            font-weight: bold;
            font-size: .8em;
            text-transform: uppercase;
            border-color: $color-primary-0;
            cursor: inherit;

            &:hover {
                background-color: inherit;
            }
        }

        :nth-child(1) {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 30%;
            margin-right: 1em;
        }
        :nth-child(2) {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 70%;
        }

   }
   .advisory {
       font-size: 4em;
       text-align: center;
       color: $color-primary-2;
   }

   .close-button {
        position: absolute;
        display: inline-block;
        right: 0;
        top: 0;
        width: 1em;
        padding: .5rem;
        font-size: 3em;
        line-height: 1em;
        color: $color-primary-4;
        cursor: pointer;
    }
}